@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<body>

    <div class="text-center">
        <h1 class="display-4">Rapportering av forbedringsforslag</h1>
       




        <form action="/action_page.php">
            <label for="fname">AnsattID:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="lname">Passord:</label><br>
            <input type="password" id="lname" name="lname"><br><br>
            <input type="submit" value="Logg inn">
        </form>

        
</body>
</html>

</div>
